.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 0px 0px 0px 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AddLineButton {
  height: 40px;
  padding: 0px;
  vertical-align: middle;
}
