.LineListing {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.Line {
  display: block;
  text-align: left;
}

.LineInfo {
  display: inline-block;
  text-align: left;
}

.LineId {
  display: inline-block;
  text-align: left;
  font-size: large;
  padding: 20px;
}

.LineGeography {
  display: inline-block;
  padding: 20px;
}

.LineDirection {
  display: inline-block;
  font-size: small;
}

.StopLocation {
  font-size: small;
}

.StopDistance {
  font-size: small;
}

.PredictionList {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
}

.Prediction {
  display: inline-block;
  font-size: large;
  padding: 5px;
}

.Prediction.Unreliable {
  opacity: 0.5
}
