.AddLineDialog {
  position: relative;
  z-index: 1;
  display: block;
  left: 0;
  right: 0;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0px; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
}

.SelectionBlock {
  display: block;
  text-align: left;
  width: 100%;
}

.SelectionLabel {
  display: inline-block;
  padding: 0px 2% 0px 5%;
  width: 30%;
  font-size: normal;
}

select {
  padding: 0px 0px 0px 0px;
  font-size: normal;
  margin: 0;
  border: 0;
  width: 55%;
  display: inline-block;
  text-align: right;
}

option {
  font-size: large;
}

button {
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
}
