.LineListing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.Line {
  display: flex;
  text-align: left;
  align-items: center;
}

.LineInfo {
  display: flex;
  align-items: center;
  text-align: left;
  width: 60%;
}

.LineId {
  display: inline-block;
  text-align: left;
  font-size: x-large;
  width: 25%
}

.LineGeography {
  display: inline-block;
  width: 75%
}

.StopLocation {
  display: inline;
  font-size: small;
}

.PredictionList {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
  width: 30%;
}

.Prediction {
  display: inline-block;
  font-size: normal;
  padding: 5px;
}

.Prediction.Unreliable {
  opacity: 0.5
}

.RemoveButton {
  background-color: black;
}
